/* Reset de márgenes y padding para asegurar consistencia en todos los navegadores */

body,
h1,
h2,
h3,
p,
img {
    margin: 0;
    padding: 0;
}


/* Añade un margen para separar la imagen del borde de la página */

body {
    margin: 20px;
}


/* Estilo para la imagen */

.mi-footer {
    /*display: block;
    /* Hace que la imagen sea un bloque para poder aplicar márgenes automáticamente */
    width: 10%;
    /* Establece el ancho de la imagen al 50% del contenedor */
    max-width: 10%;
    /* Asegura que la imagen no sea más ancha que su contenedor */
    height: 10%;
    /* Permite que la altura se ajuste automáticamente para mantener la proporción original */
    margin: 0 auto;
    /* Centra la imagen horizontalmente dentro de su contenedor */
    border: 2px solid #ddd;
    /* Añade un borde a la imagen */
    border-radius: 8px;
    /* Añade esquinas redondeadas al borde */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Añade una sombra suave */
}


/* Personaliza la altura de las imágenes en la sección de imágenes del pie de página */

.footer-images img {
    height: 10px;
    /* Puedes ajustar la altura según tus necesidades */
}


/* Añade un estilo adicional si es necesario */

.footer-images .bg-image {
    overflow: hidden;
    /* Para asegurarse de que las imágenes no se desborden del contenedor */
}