.sectionHome {
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 50px auto;
    max-width: 600px;
    text-align: left;
}

.h2Home {
    color: #333;
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.pHome {
    font-size: 16px;
    line-height: 1.6;
}

.ulHome {
    margin-bottom: 20px;
}

.liHome {
    list-style-type: square;
    margin-left: 20px;
}