<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Hola que tal 
            {% if nombre is not none -%}
                {{nombre}}
            {% else -%}
                Desconocido
            {% endif -%}
        </title>
    </head>
    <body>
        <header>
            <h1> EBANISTERIA JyF </h1>
            <h1> Bienvenido </h1>
        </header>
        <h2> Vamos a saludar </h2>
        {% if nombre -%}
            <h1> Hola {{nombre|title}} </h1>
            <p> Como estas? </p>
        {% else -%}
            <p> No estas indicando un nombre </p>
        {% endif -%}
    </body>
</html>