{% extends 'base.html' %}

{% block title %} Inicio - EbanisteriaJyF {% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homeStyle.css') }}">

    <section class="image-section">
        <img src="{{ url_for('static', filename='imagenes/decor1.jpg') }}" class="imgIzq" alt="Imagen Izquierda">
        <div class="sectionHome">
            <h2 class="h2Home">Bienvenido a EbanisteriaJyF</h2>
            <p class="pHome">Somos una empresa dedicada a la fabricación de muebles hechos a mano con la más alta calidad y atención al detalle. Nuestra ebanistería se enorgullece de:</p>
            <ul class="ulHome">
                <li class="liHome">Utilizar maderas de la mejor calidad para garantizar muebles duraderos.</li>
                <li class="liHome">Ofrecer diseños personalizados para satisfacer las necesidades de nuestros clientes.</li>
                <li class="liHome">Enfocarnos en la artesanía y la atención al detalle en cada pieza.</li>
            </ul>
            <p class="pHome">Explora nuestra galería para ver nuestros diseños exclusivos.</p>
        </div>
        <img src="{{ url_for('static', filename='imagenes/decor2.jpg') }}" class="imgDer" alt="Imagen Derecha">
    </section>
{% endblock %}
