<link rel="stylesheet" href="{{ url_for('static', filename='css/menuStyle.css') }}">

<nav>
    <ul>
        <li><a href="{{ url_for('inicio') }}"> Inicio </a></li>
        <li><a href="{{ url_for('galeria') }}"> Galería </a></li>
        <li><a href="{{ url_for('blog') }}"> Blog </a></li>
        <li><a href="{{ url_for('contacto') }}"> Contacto </a></li>
        <li><a href="{{ url_for('login') }}"> Iniciar Sesión </a></li>
        <li><a href="{{ url_for('about') }}"> Acerca de </a></li>
    </ul>
</nav>
